<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="layout/plantilla :: head"></head>

<body>
    <div th:replace="layout/plantilla :: header"></div>

    <main role="main" class="container my-4">
        <div th:replace="farmacia/fragmentos :: botonesAgregar"></div>
        <div th:replace="farmacia/fragmentos :: agregarCategoria"></div>
        <div th:replace="farmacia/fragmentos :: listadoCategorias"></div>
    </main>

    <div th:replace="layout/plantilla :: footer"></div>
    <script th:inline="javascript">
    /*<![CDATA[*/
    let categoriaId = [[${categoria.id}]];
    if (categoriaId != null) {
        let modal = new bootstrap.Modal(document.getElementById('modalAgregarCategoria'));
        modal.show();
    }
    /*]]>*/
</script>

</body>
</html>